{{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="671DFC03B959E91643B7D7567E37E46A" />
    <meta name="google-site-verification" content="SfOIuzL9bJTnG1s15n1tw8mrW8WlYZXf4LA0cdqffuM" />
    <meta name="description" content="Easily check your Target gift card balance and learn how to use it effectively. Follow our step-by-step guide to manage your balance, shop smarter, and avoid surprises at checkout." />
    <meta name="keywords" content="Target gift card balance, check Target gift card, Target app, gift card help, how to use Target gift card, Target customer service, reload Target gift card" />
    <meta name="robots" content="index, follow" />
    <title>How to Easily Check Your Target Gift Card Balance and Use It</title>
    {{ super() }}
{% endblock %}
