{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="google-site-verification" content="SfOIuzL9bJTnG1s15n1tw8mrW8WlYZXf4LA0cdqffuM" />
    <meta name="msvalidate.01" content="671DFC03B959E91643B7D7567E37E46A" />
    <meta name="description" content="Easily check your Target gift card balance online, via the Target app, or by phone. Follow our step-by-step guide to manage and use your Target gift card with confidence." />
    <meta name="keywords" content="Target gift card balance, check Target gift card, Target gift card online, Target app gift card, Target customer service" />
    <meta name="robots" content="index, follow" />
    <title>How to Easily Check Your Target Gift Card Balance and Use It</title>
    {{ super() }}
{% endblock %}
